<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Cucumber OpenCart suite" thread-count="5" parallel="classes">
  <test   name="Cucumber test">
	  <classes>
		  <class name="runner.TestRunner"></class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Cucumber OpenCart suite -->
